<ul class="pricing-table">
    <li class="title">
        <%= @description["name"].gsub('-',' ').humanize %>
	</li>
	<li class="description">
		<%= @description["description"] %>
	</li>
    <li class="price">
        <%= link_to @description["pokemon"]["name"].gsub('-',' ').humanize, pokemon_path(poke_path(@description["pokemon"]["resource_uri"]))%>
    </li>
    <li class="bullet-item">
        Games:
        <% @description["games"].each do |game| %>
            <%= link_to game["name"].gsub('-',' ').humanize, game_path(poke_path(game["resource_uri"])) %>,
        <% end %>
    </li>
</ul>
<%= link_to 'Back', :back %>
