<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
          <nav class="tab-bar">
              <section class="left-small">
                  <a class="left-off-canvas-toggle menu-icon" aria-expanded="false"><span></span></a>
              </section>

              <section class="middle tab-bar-section">
                  <h1 class="title"><%= link_to "Pokedex", root_url %></h1>
              </section>
          </nav>
          <a class="left-off-canvas-toggle menu-icon" aria-expanded="false"><span></span></a>
          <!-- Off Canvas Menu -->
          <aside class="left-off-canvas-menu">
              <!-- whatever you want goes here -->
              <div id="sideList">
                  <div class="row collapse prefix-radius">
                      <div class="small-3 columns">
                          <span for="search" class="prefix">Search</span>
                      </div>
                      <div class="small-9 columns">
                          <input type="text" id="search" class="search small-6"/>
                      </div>
                  </div>
                  <span class="sort label small" data-sort="name">Sort by Name</span>
                  <hr>
                  <ul class="no-bullet side-nav list">
                      <%= render partial: 'pokemon/pokemon' , locals:{pokemon: @poke_api.index, liclass:''} if @poke_api %>
                  </ul>
              </div>
          </aside>

          <!-- main content goes here -->

          <!-- close the off-canvas menu -->
          <a class="exit-off-canvas"></a>
          <div class="row">
              <div class="large-12 columns">
                  <%= yield %>
              </div>
          </div>
      </div>
  </div>


  </body>
</html>
